@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

// $body-font-family est pour le texte normal
$body-font-family: 'Cinzel', serif;

// $heading-font-family est pour les titres (h1, h2, etc.)
$heading-font-family: 'Cinzel', serif;

// $heading-font-weight définit le poids des titres
$heading-font-weight: 600;